.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 90%;
  height: 350px;
  max-height: 100%;
  z-index: 1010 !important;
  border-radius: 10px;
  background: #3b3a3a !important;
  box-shadow: 6px 8px 40px 0px rgba(0, 0, 0, 0.55);
}
.modal-guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 50px 20px 20px;
  overflow: auto;
}
.modal-overlay {
  z-index: 10001111;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}
.modal-search-bg {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    #000 !important;
}
