.bg-earth {
  background: url("./../../assets/images/home/img-earth.png") no-repeat center;
  background-size: 100%;
  @apply w-full;
}
/* .bg-earth::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: theme("colors.primary");
  mix-blend-mode: color-burn;
} */
.blend {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  mix-blend-mode: color-burn;
  @apply bg-primary;
}
/* .bg-earth-blend {
  opacity: 0.4;
  background: theme("colors.primary");
  mix-blend-mode: color-burn;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
} */
/* .bg-earth-blend:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: url("./../../../assets/images/home/img-blend-white.png") lightgray
    0% 0% / 160.0000023841858px 160.0000023841858px repeat;
  mix-blend-mode: overlay;
  z-index: 1;
  background-color: theme("colors.primary");
} */
.home-border {
  border-radius: 25px;
  border: 0.5px solid theme("colors.primary");
  opacity: 30;
  background: linear-gradient(
    180deg,
    rgba(247, 99, 12, 0.1) 0%,
    rgba(247, 99, 12, 0) 100%
  );
  border-bottom: none;
}
.home-title-feature {
  @apply text-2xl sm:text-3xl lg:text-4xl xl:text-5xl font-black mb-6 lg:mb-16;
}
.home-title-description {
  @apply text-[14px] sm:text-[16px];
}
.home-image-feature {
  @apply w-[300px] sm:w-[400px] xl:w-[532px] object-contain;
}
.home-image-box {
  @apply text-white pt-[100px] w-full lg:w-[800px];
}
