@tailwind base;
@tailwind components;
@tailwind utilities;
.container-page {
  @apply px-3;
  @apply sm:px-5;
  @apply md:px-[40px];
  @apply xl:px-[120px];
  @apply w-full;
}
/* ===== BACKGROUND ===== */
.bg-linear {
  @apply text-white;
  @apply bg-gradient-to-r;
  @apply from-[#FDC60B];
  @apply to-[#ED6B3B];
}
/* ===== END BACKGROUND ===== */
/* ===== COLOR ===== */
.color-linear {
  @apply text-transparent bg-clip-text bg-gradient-to-br from-[#FDC60B] to-[#ED6B3B];
}
/* ===== END COLOR ===== */
