.swap-connect-btn {
  padding: 8px;
  padding-right: 14px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 14px;
}
.swap-connect-wallet-padding {
  @apply px-[32px];
}
.swap-connect-wallet-color-gradient {
  @apply bg-gradient-to-r from-[#FDC60B] to-[#ED6B3B];
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.swap-connect-wallet-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 90%;
  height: fit-content;
  max-height: 100%;
  z-index: 1010 !important;
  border-radius: 10px;
  background: #3b3a3a !important;
  box-shadow: 6px 8px 40px 0px rgba(0, 0, 0, 0.55);
}
