.swap-card {
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    #000;
}
.swap-input-select {
  background-color: rgba(247, 99, 12, 0.08);
  border-radius: 8px;
  border: 1px solid #888;
  @apply p-4 flex items-center gap-x-4 justify-between;
}
.swap-icon {
  background: radial-gradient(
    42.74% 80.87% at 100% 41.71%,
    theme("colors.primary") 0%,
    rgba(247, 99, 12, 0) 100%
  );
}
.swap-option {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.14);
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 10;
}
.swap-input-color {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    #000;
}
.swap-option-select {
  @apply flex sm:items-center items-start gap-x-4 mt-4 justify-between sm:flex-row flex-col gap-y-2;
}
